@{
    ViewBag.Title = "Home Page";
}
<div class="main-container" style="height: 800px;">
    <div class="float-div">
        <label>Entites</label>
        <ul class="list">
            <li class="items">
                <div>
                    <div class="tag">Fund</div>
                    <ul>
                        <li>Fund Start Date</li>
                        <li>Daily Period Frequency</li>
                        <li>Transaction Indicator</li>
                        <li>Begin Balance</li>
                    </ul>
                </div>
            </li>
            <li class="items">Accounting Periods</li>
            <li class="items">Addition Activity</li>
            <li class="items">Balance Sheet</li>
            <li class="items">Income Expense</li>
            <li class="items">Ledger Balance</li>
            <li class="items">Accounting Adjustments</li>
            <li class="items">Accounts</li>
            <li class="items">Brokers</li>
        </ul>
    </div>
    <div class="float-div">
        <label>Operations</label>
        <ul class="list">
            <li class="items">
                <div>
                    <div class="tag">Operators</div>
                    <ul>
                        <li>+</li>
                        <li>-</li>
                        <li>*</li>
                        <li>/</li>
                        <li>Sum</li>
                        <li>Average</li>
                    </ul>
                </div>
            </li>
            <li class="items">
                <div>
                    <div class="tag">Conditionals</div>
                    <ul>
                        <li>></li>
                        <li><</li>
                        <li>||</li>
                        <li>&&</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div style="height: 220px; float: left; width: 98%;">
        <div id="textareacontainer">
            <div id="textarea">
                <div id="textareawrapper">
                    <textarea class="editor" autocomplete="off" id="textareaCode" wrap="logical" spellcheck="false">
                    </textarea>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
